
.parent-nav{
  position: fixed;
  width: 100%;
 justify-content: end;
 place-items: center;
display: flex;
height: auto;
background-color: white;
height: 60px;
}
.uls{
 padding: 0px 0px 0px 0px;
display: flex;
gap: 40px;
font-size: 20px;
letter-spacing: 3px;
place-items: center;
}
.ad-link{
color: black;
}
.adm-stat{
margin-right: 5px;
}
.icons{

padding-left:  0px;
font-size: 30px;
color: darkseagreen;
}