.adminlog-parent{
    height: 100vh;
    display: flex;
    justify-content: center;
   align-items: center;
}
.login-ad-frm{
    background-color: rgb(0,0,0,0.1);
    padding: 30px;
    display: grid;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 4px 0px;
}
.ip2{
    margin: 5px 0px;
    height: 35px;
    border: none;
    letter-spacing: 5px;
    background-color: transparent;
    color:white;
    font-size: 20px;
    width: 100%;
    outline: none;
}
.login-ad-bt{
    border:  1px solid rgb(210, 205, 205);
    background-color: transparent;
    color: white;
    width: 100%;
    margin-top: 50px;
    height: 38px;
    font-size: 18px;
    border-radius: 3px;
}

.login-ad-bt:hover{
    
    color: rgb(16, 12, 12);
    background-color: rgba(255, 255, 255, 0.379);
    border-radius: 3px;
   
}