.Details-parent{
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;

}
.photo-contain{
padding: 10px;
height: fit-content;

}
.details-contain{
height: 500px;
font-size: 18px;
letter-spacing: 4px;
height: fit-content;
margin: 0px 10px ;
padding: 10px;


}
.brand{
    font-size: 40px;
    width: fit-content;
    border-radius: 20px;
}
.brand-sub{
    color: darkmagenta;
    border-radius: 20px;
    background-color: transparent;
}
.pn{
    padding-top: 30px;
 color: red;
}
.pd{
 padding-top: 30px;
}

.pp{
    margin: 30px 0px 0px 0px;
 font-size: 30px;
}
.imgs-details{
    padding: 4px ;
width: 260px;
position: relative;
border-radius: 10px;
}
.im-d{
    display: block;
    margin: auto;
     width: 100%;
     height: 300px;
     object-fit:contain;

}
.btn-grps{
    display: flex;
   padding-top: 9px;
   gap: 5px;

   
}
@media screen and (max-width:277px) {
    .im-d{
        height: auto;
    }  
    .imgs-details{
        width: auto;
    }
    .btn-grps{
        display: flex;
       padding-top: 10px;
       flex-wrap: wrap;
       gap: 5px;
    
       
    }
}
.likes{
    border: none;
position: absolute;
right: 7%;
top: 10%;
background-color: transparent;
border-radius: 30px;
padding: 4px 4.5px;
}
.likeiconf{
    font-size: 35px;
padding-top:3px;
color: grey;
}

.cart-btn{
border: none;
letter-spacing: 1px;
font-size: 18px;
padding: 5px 0px;
border-radius: 3px;
background-color: rgba(233, 51, 51, 0.859);
color: white;
width: 100%;
box-shadow: 0px 0px 2px 0px slategray;
}
.buy-btn{
border: none;
padding: 5px 0px;
letter-spacing: 1px;
font-size: 18px;
border-radius: 3px;
width: 100%;
background-color: rgb(130, 126, 126);
color: white;
box-shadow: 0px 0px 4px 0px slategray;
}
.sto{
    padding-top: 10px;
    color: darkgreen;
}