.home-parent {
  display: flex;
  gap: 20px;
 

  justify-content: center;
  font-size: 18px;
  letter-spacing: 3px;
padding-top: 80px;

  /* box-shadow: 0px 0px 3px 0px; */
}
.sub-pr-parent{
}
.watch-parent{
padding: 10px;
display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}
.bag-parent{
  padding: 10px;
  display: flex;
justify-content: center;
flex-wrap: wrap;
gap: 10px;
}

.home-child {
  width: 250px;
  padding: 10px;
  transition: 1s ease-in-out;
  position: relative;
  cursor: pointer;
  height: auto;

 
}
.home-child:hover {
  box-shadow: 0px 0px 20px 1px slategray;
}
.imgs-container {
  padding: 4px;
  width: 220px;
  display: block;
  margin: auto;
}
.imgs {
  display: block;
  margin: auto;
  width: 100%;
  height: 260px;
  object-fit: contain;
}
.prof-id {
  font-size: 10px;
}
@media screen and (max-width: 410px) {
  .imgs-container {
    width: auto;
  }
  .imgs {
    height: auto;
  }
  .home-child{
    
    height: auto;
  }
}
.pnam {
  color: darkmagenta;
font-size: 17px;
}

.pname {
  background-color: rgb(188, 105, 105);
  color: white;
  font-size: 18px;
}

.pprice {
color: black;
display: flex;
justify-content: space-between;
}
.like {
  border: none;
  background-color: transparent;
  position: absolute;
  right: 7%;
  top: 10%;
}
.likeicon {
  font-size: 35px;
 padding-top: 3px;
  color: rgb(166, 165, 165);
}
.likeicons {
  padding-top: 3px;
  font-size: 35px;
  color: rgb(243, 74, 74);
}
.homelink {
  text-decoration: none;
}
.out-st {
  color: red;
}
.side-menu{
display: flex;
justify-content: center;
padding: 10px 0px 0px 0px;
box-shadow: 0px 0px 1px 0px;
margin:0px 5px 0px 5px;
box-shadow: 0px 0px 5px 0px;
}
.side-ul{
display: flex;
gap: 80px;
padding:5px  20px;
margin-bottom: 10px;
align-items: center;
width: fit-content;
border-radius: 0px;

}
.side-li-f{
  margin: 0px 0px  30px 0px;
 
}
.side-lnk{
 
}


.avail-hd{
  display: none;
}

.avail-ul{
 display: none;
 
}
.avail-ln{
  text-decoration: none;
color: black;  
}
.avail-ln:hover{
  background-color: rgb(0, 0, 0,0.1);
}
.it{
letter-spacing: 2px;
padding: 0px 10px;
margin-bottom: 10px;
background-color: rgb(225, 220, 220);
}
@media screen and (max-width: 972px) {
  .side-ul{
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
 
  }
  .avail-hd{
    display: flex;
    justify-content: center;
  padding-top: 80px;
  position: relative;
  }
  .avail-hd:hover .avail-ul{
    display: flex;
position: absolute;
z-index: 1;
padding: 0px 40px 0px 40px;
margin:34px 0px 0px 0px;
font-size: 20px;
border-radius: 10px 10px 0px 0px;
gap: 55px;
background-color: white;
box-shadow: 0px 0px 2px 0px;


  }




}
@media screen and (max-width: 525px) {
  .avail-hd:hover .avail-ul{
    display: block;
  }
  .avail-hd:hover .avail-ul{
    padding: 0px 18px 0px 18px;
    text-align: center;
 
  }
  .avail-ln{
   padding: 7px 8px;
   width: 100%;
  }
  .avail-li{
    margin: 20px 0px;
  }
}

/*report*/
.report-parent{
  display: grid;
  align-items: center;
 
  box-shadow: 0px 0px 0px 1px rgb(209, 206, 206);
  margin:5px 5px;
}
.report-child{
padding: 5px;
display: flex;
justify-content: center;
align-items: center;
}
.input-report{
font-size: 20px;
border: none;
outline: none;
width: 100%;
}
.report-btn-Proceed{
font-size: 20px;
margin: 0px 4px;
box-shadow: 0px 0px 2px 0px grey;
color: green;
border: 1px solid green;
border-radius: 2px;
background-color: transparent;
display: flex;
justify-content: center;
align-items: center;
gap:2px
}
.report-btn-cancel{
  font-size: 20px;
  border: none;
  border-radius: 2px;
  margin: 0px 2px;
  color: red;
  background-color: transparent;
border: 1px solid rgb(194, 100, 100);
}
.report-btn-invoke{
  border: none;
  font-size: 20px;
  background-color: transparent;
  border: 2px solid blue;
  border-radius: 3px;
  color: blue;

}
.input-report::placeholder{
  color:black

}
.t{
  font-size: 20px;
  color: rgb(129, 125, 125);
}
/*sort*/
.srt-parent{
  display: flex;
  justify-content: center;
  padding-top: 80px;
}
.srt-parent-home{
  display: flex;
  justify-content: center;
  padding: 5px;
  margin:5px 5px 0px 5px;
}
.srt-sub-parent{
  display: flex;
  padding-top: 20px;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 3px;
}
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
z-index: 1;
}

/* Optional: Adjust the size and other styles */
.carousel-control-prev,
.carousel-control-next {
  width: 5%; /* Adjust the width as needed */
}

/* Adjust the positioning of the controls */
.carousel-control-prev {
  left: 0;
  
}

.carousel-control-next {
  right: 0;
} 
.caro{


 }
 .position-r{
  position: relative;
 }
 .position-a{

position: absolute;
width: 40px;
background-color: rgb(0, 0, 0);
height: 2px;
left: 1%;
top: 45%;
 }
 .mt{
border: none;
background-color: transparent;
color: rgb(118, 122, 122);
 }
 .cy{
  border: none;
  background-color: transparent;
  color: rgb(118, 122, 122);
 }
 .link-cat-parent{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
 }
 .stck{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }
 .img-caro{
  width: 100%;
  display: block;
  object-fit: cover;
 }
 .img-caro-2{
  width: 100%;
  display: block;
  object-fit: cover;
 }
 .custom-header .accordion-button:focus {
  --bs-accordion-active-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
  --bs-accordion-active-bg: white !important;
  background-color: white;
  
}
.custom-header .accordion-button:not(.collapsed) {
  color: inherit !important;
  background-color: inherit !important;
}