.ini-parent{
    background: url("    https://r4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-08869d3810a06c28a09cf1be487204ea.jpg");

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
   width: 100%;
height: 100vh;
display: flex;
justify-content: start;
align-items: center;

}

.e-front{
    
    margin-left: 10px;
    color: azure;
    font-size: 22px;
}
.l-div{
display: flex;
justify-content: end;
}
.l-l{
font-size: 25px;
color: rgb(161, 2, 254);
}

  .form-control:hover,
  .form-control:focus {
    box-shadow: none !important;
  }
  .frmpay::after{
   content: "*";
   color: rgb(255, 0, 0);
  }
  /* Remove box shadow on hover */
.custom-header:hover {
    box-shadow: none !important;
  }
  
  /* Remove box shadow on focus */
  .custom-header:focus {
    box-shadow: none !important;
  }
  