
.login-parent{
    height: 100vh;
 display: flex;
 justify-content: center;
align-items: center;
background: url("https://r4.wallpaperflare.com/wallpaper/531/951/621/digital-digital-art-artwork-illustration-minimalism-hd-wallpaper-08869d3810a06c28a09cf1be487204ea.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
}

.login-frm{
background-color: rgb(0,0,0,0.1);
padding: 30px;
display: grid;
border-radius: 10px 10px 10px 10px;
box-shadow: 0px 0px 4px 0px;
}
.ip1{
    margin: 5px 0px;
    height: 35px;
    border: none;
    letter-spacing: 5px;
    background-color: transparent;
    color:white;
    font-size: 20px;
    width: 100%;
    outline: none;
}
::placeholder{
    color: rgb(213, 206, 206);
}
.login-bt{
border:  1px solid rgb(210, 205, 205);
background-color: transparent;
color: white;
width: 100%;
margin-top: 50px;
height: 38px;
font-size: 18px;
border-radius: 3px;
}
.login-bt:hover{
    
    color: rgb(16, 12, 12);
    background-color: rgba(255, 255, 255, 0.379);
    border-radius: 3px;
   
}
.note{
    margin-top: 20px ;
color: white;
font-size: 18px;
text-align: end;
letter-spacing: 5px;
}
.lg-lk{
 font-size: 20px;
}
.login-title{
    color: rgb(229, 235, 240);
    font-size: 30px;
}
.hover{
    margin-top: 10px;
    font-size: 20px;
    color: white;
    padding: 3px;
 box-shadow: 0px 0px 0px 1px;
width: fit-content;
border: none;
cursor: pointer;

}
.ipt {
    /* Hide the default file input button */
    display: none;
  }
  .nm{
    color: white;
    margin-top: 13px;
  }
  .hover-grp{
    display: flex;
    
    gap: 10px;
  }
  .check-parent{
   display: flex;
   gap: 12px;
  }
  .checks{
  width: 20px;
  }